#parse( "announce4Xml.vm" )
#parse( "definition.vm")
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
			"-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
#foreach( $clz in $params.get("class") )
		<typeAlias type="${package}.${clz.get("className")}" alias="${clz.get("className")}" />
#end
	</typeAliases>
</configuration>
