#parse( "definition.vm")
<?xml version="1.0" encoding="UTF-8"?>

#parse( "announce4Xml.vm" )

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">
#foreach( $clz in $params.get("class") )
	<bean id="$clz.get("classNameL")#[[DAO]]#" class="$package#[[.]]#$clz.get("className")#[[DAO]]#">
	    <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
#end
</beans>